<%- layout("/boilerplate.ejs") %>

<body>
    
    <!-- views/investorForm.ejs -->
<h2 class="mt-4">Investor Registration</h2>
<form action="/register/investor" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
  </div>

  <div class="form-group">
    <label for="industry">Industry</label>
    <input type="text" class="form-control" id="industry" name="industry" required>
  </div>

  <!-- Contact Info -->
  <h3 class="mt-5">Contact Information</h3>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="contactInfo[email]" value="<%= registeredUser.email %>" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" name="contactInfo[phone]" required>
  </div>
  <div class="form-group">
    <label for="website">Website</label>
    <input type="url" class="form-control" id="website" name="contactInfo[website]">
  </div>

  <div class="form-group">
    <label for="investmentAreas">Investment Areas</label>
    <input type="text" class="form-control" id="investmentAreas" name="investmentAreas" required>
  </div>

  <div class="form-group">
    <label for="fundingRangeMin">Funding Range (Min)</label>
    <input type="number" class="form-control" id="fundingRangeMin" name="fundingRange[min]" required>
  </div>
  <div class="form-group">
    <label for="fundingRangeMax">Funding Range (Max)</label>
    <input type="number" class="form-control" id="fundingRangeMax" name="fundingRange[max]" required>
  </div>

  <div class="form-group">
    <label for="locationCity">City</label>
    <input type="text" class="form-control" id="locationCity" name="location[city]">
  </div>
  <div class="form-group">
    <label for="locationState">State</label>
    <input type="text" class="form-control" id="locationState" name="location[state]">
  </div>
  <div class="form-group">
    <label for="locationCountry">Country</label>
    <input type="text" class="form-control" id="locationCountry" name="location[country]">
  </div>

  <div class="form-group">
    <label for="experience">Experience (Years)</label>
    <input type="number" class="form-control" id="experience" name="experience" required>
  </div>



  <div class="form-group">
    <label for="preferredFundingStages" class="form-label">Preferred Funding Stages</label>
    <select class="form-control" id="preferredFundingStages" name="preferredFundingStages" required>
      <option>Pre-seed</option>
      <option>Seed</option>
      <option>Series A</option>
      <option>Series B</option>
      <option>Bootstrapped</option>
    </select>
  </div>


  <div class="form-group mt-2">
    <label for="logoURL">Upload Picture</label>
    <input type="file" class="form-control" id="logoURL" name="logoURL">
  </div>

  <div class="form-group mt-2">
    <label for="status">Status</label>
    <select class="form-control" id="status" name="status" required>
      <option>Active</option>
      <option>Inactive</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary mt-3 mb-3">Submit</button>
</form>

</body>